<div class="app-head clear">
    <div class="app-head-inner  container">
        <div class="app-head-img fl">
            <a href="index.html"><img src="/assets/img/logo.png" alt=""></a>
        </div>
        <div class="app-nav fl">
            <ul class="beard1 fl">
                <li class="cursor beardActive"><a href="index.html">主页</a></li>
                <li class="cursor"><a href="projects.html?userId=10002549">项目</a></li>
                <li class="cursor"><a href="news.html">新闻</a></li>
                <li class="cursor"><a href="about.html">关于</a></li>
            </ul>
        </div>
        <div class="head-nav fr">
            <ul class="nav-list userNull fr"><a routerLink="/login"></a>
                <li>登录/注册</li>
            </ul>
        </div>
    </div>
</div>

<ng-content></ng-content>