<app-navbar></app-navbar>




<!-- 轮播图 -->
<div class="swiper-container" style="margin-top: 30px;">
    <div class="swiper-wrapper">
        <!-- <div class="swiper-slide">
              <a href="projects.html"></a>
              <img src="img/1.jpg" alt="">
          </div>
          <div class="swiper-slide">
              <a href="news.html"></a>
              <img src="img/2.jpg" alt="">
          </div>
          <div class="swiper-slide">
              <a href="about.html"></a>
              <img src="img/3.jpg" alt="">
          </div> -->
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
    <!-- 左右按钮 -->
    <div class="swiper-button-prev swiper_btn"></div>
    <div class="swiper-button-next swiper_btn"></div>
</div>
<div class="cumulative container">
    <dl>
        <dd class="borderRight">
            <p class="p666"><span class="ljzcje"></span>元</p>
            <p class="p999">累计支持金额</p>
        </dd>
        <dd class="borderRight">
            <p class="p666"><span class="ljzcrs"></span>个</p>
            <p class="p999">累计支持人数</p>
        </dd>
        <dd class="borderRight">
            <p class="p666"><span class="ljtzxm"></span>个</p>
            <p class="p999">累计投资项目</p>
        </dd>
        <dd>
            <p class="p666"><span class="dbzgczje"></span>元</p>
            <p class="p999">单项最高筹资金额</p>
        </dd>
    </dl>
</div>

<!-- 推荐项目 -->
<div class="max12px container tjmore">
    <div class="noviceDiv">
        <div class="fl noviceDiv1">
            <img src="/assets/img/noviceDiv1.png" alt="">
        </div>
        <div class="fl noviceDiv2" style="background-image:url(/assets/img/noviceDiv2.png)">
            <a href="noviceProcess.html"></a>
        </div>
    </div>
</div>
<div class="index-board-list raiseListHtml container raiseListHtml1">
    <div class="indexRasie">
        <p class="fl tjp1">推荐项目</p>
        <p class="cursor fr tjp2"><a href="projects.html">更多项目</a></p>
    </div>
    <div class="row row1">
        <!-- <div class="index-board-item  col-xl-3" >
              <div class="index-board-item-inner flwidth">
                  <div class="index-board-item-inner-left bgcenter" style="background-image:url(img/1.jpg)">
                      <p>众筹中</p>
                  </div>
                  <div class="index-board-item-inner-right flwidth">
                      <div class="index-board-div1">
                          <h2>项目1</h2>
                          <h3></h3>
                          <dl>
                              <dd>
                                  <p>15%</p>
                                  <p>已达</p>
                              </dd>
                              <dd>
                                  <p>100元</p>
                                  <p>已筹</p>
                              </dd>
                              <dd>
                                  <p>10天</p>
                                  <p>剩余时间</p>
                              </dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div> -->

        <!-- <div class="index-board-item  col-xl-3" >
              <div class="index-board-item-inner flwidth">
                  <div class="index-board-item-inner-left bgcenter" style="background-image:url(img/1.jpg)">
                      <p>众筹中</p>
                  </div>
                  <div class="index-board-item-inner-right flwidth">
                      <div class="index-board-div1">
                          <h2>项目1</h2>
                          <h3></h3>
                          <dl>
                              <dd>
                                  <p>15%</p>
                                  <p>已达</p>
                              </dd>
                              <dd>
                                  <p>100元</p>
                                  <p>已筹</p>
                              </dd>
                              <dd>
                                  <p>10天</p>
                                  <p>剩余时间</p>
                              </dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>
          <div class="index-board-item  col-xl-3" >
              <div class="index-board-item-inner flwidth">
                  <div class="index-board-item-inner-left bgcenter" style="background-image:url(img/1.jpg)">
                      <p>众筹中</p>
                  </div>
                  <div class="index-board-item-inner-right flwidth">
                      <div class="index-board-div1">
                          <h2>项目1</h2>
                          <h3></h3>
                          <dl>
                              <dd>
                                  <p>15%</p>
                                  <p>已达</p>
                              </dd>
                              <dd>
                                  <p>100元</p>
                                  <p>已筹</p>
                              </dd>
                              <dd>
                                  <p>10天</p>
                                  <p>剩余时间</p>
                              </dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div>
          <div class="index-board-item  col-xl-3" >
              <div class="index-board-item-inner flwidth">
                  <div class="index-board-item-inner-left bgcenter" style="background-image:url(img/1.jpg)">
                      <p>众筹中</p>
                  </div>
                  <div class="index-board-item-inner-right flwidth">
                      <div class="index-board-div1">
                          <h2>项目1</h2>
                          <h3></h3>
                          <dl>
                              <dd>
                                  <p>15%</p>
                                  <p>已达</p>
                              </dd>
                              <dd>
                                  <p>100元</p>
                                  <p>已筹</p>
                              </dd>
                              <dd>
                                  <p>10天</p>
                                  <p>剩余时间</p>
                              </dd>
                          </dl>
                      </div>
                  </div>
              </div>
          </div> -->
    </div>
</div>

<div class="indexCon">

</div>



<!-- 新闻资讯 -->
<div class="max12px container tjmore">
    <div>
        <p class="fl tjp1">新闻资讯</p>
        <p class="cursor fr tjp2"><a href="news.html">更多新闻</a></p>
    </div>
</div>
<div class="index-board-list container">
    <div class="row">
        <div class="index-board-item  col-xl-3">
            <a class="index-board-item-inner flwidth" href="http://www.cucr.cn/index.php/index-view-aid-1235.html"
                target="_blank">
                <div class="index-board-item-inner-left bgcenter"
                    style="background-image:url(http://www.cucr.cn/wcs/Upload/201809/5bac432dbcfae.jpg)"></div>
                <div class="index-board-item-inner-right flwidth">
                    <div class="index-board-div1">
                        <h2>与军运同行</h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="index-board-item  col-xl-3">
            <a class="index-board-item-inner flwidth" href="http://www.cucr.cn/index.php/index-view-aid-1234.html"
                target="_blank">
                <div class="index-board-item-inner-left bgcenter"
                    style="background-image:url(http://www.cucr.cn/wcs/Upload/201809/5ba0dc49e0264.jpg)"></div>
                <div class="index-board-item-inner-right flwidth">
                    <div class="index-board-div1">
                        <h2>创联凯尔荣誉上榜</h2>
                        <!-- <p>2018-08-18</p> -->
                    </div>
                </div>
            </a>
        </div>
        <div class="index-board-item  col-xl-3">
            <a class="index-board-item-inner flwidth" href="http://www.cucr.cn/index.php/index-view-aid-1220.html"
                target="_blank">
                <div class="index-board-item-inner-left bgcenter"
                    style="background-image:url(http://www.cucr.cn/wcs/Upload/201806/5b336cba566d5.jpg)"></div>
                <div class="index-board-item-inner-right flwidth">
                    <div class="index-board-div1">
                        <h2>悦非空间</h2>
                        <!-- <p>2018-08-18</p> -->
                    </div>
                </div>
            </a>
        </div>
        <div class="index-board-item  col-xl-3">
            <a class="index-board-item-inner flwidth" href="http://www.cucr.cn/index.php/index-view-aid-1218.html"
                target="_blank">
                <div class="index-board-item-inner-left bgcenter"
                    style="background-image:url(http://www.cucr.cn/wcs/Upload/201806/5b2b10c709dca.jpg)"></div>
                <div class="index-board-item-inner-right flwidth">
                    <div class="index-board-div1">
                        <h2>星耀中梁 鸿动宜城 </h2>
                        <!-- <p>2018-08-18</p> -->
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>


<!-- 友情链接 -->
<div class="max12px container tjmore displaynone">
    <div>
        <p class="fl tjp1">友情链接</p>
    </div>
</div>
<div class="index-board-list container displaynone">
    <div class="row">
        <div class="index-board-item  col-xl-2">
            <div class="index-board-item-inner flwidth">
                <div class="index-board-item-inner-right flwidth">
                    <a href="https://z.jd.com/sceneIndex.html" target="_blank" class="index-board-div1">
                        <h2 class="textalign">京东金融</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="index-board-item  col-xl-2">
            <div class="index-board-item-inner flwidth">
                <div class="index-board-item-inner-right flwidth">
                    <a href="https://www.shuidichou.com/" class="index-board-div1" target="_blank">
                        <h2 class="textalign">水滴筹</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="index-board-item  col-xl-2">
            <div class="index-board-item-inner flwidth">
                <div class="index-board-item-inner-right flwidth">
                    <a href="https://zc.suning.com/" class="index-board-div1" target="_blank">
                        <h2 class="textalign">苏宁众筹</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="index-board-item  col-xl-2">
            <div class="index-board-item-inner flwidth">
                <div class="index-board-item-inner-right flwidth">
                    <a href="http://www.zhongchouke.com/" target="_blank" class="index-board-div1">
                        <h2 class="textalign">众筹客</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="index-board-item  col-xl-2">
            <div class="index-board-item-inner flwidth">
                <div class="index-board-item-inner-right flwidth">
                    <a href="http://www.cucr.cn/" target="_blank" class="index-board-div1">
                        <h2 class="textalign">创联凯尔</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="index-board-item  col-xl-2">
            <div class="index-board-item-inner flwidth">
                <div class="index-board-item-inner-right flwidth">
                    <a href="http://www.cucrxt.com/static/index.html" target="_blank" class="index-board-div1">
                        <h2 class="textalign">心跳科技</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>