<!-- 尾部 -->
<div class="app-foot">
    <p>友情链接</p>
    <ul>
        <li>
            <a href="https://z.jd.com/sceneIndex.html" target="_blank" class="index-board-div1">
                京东金融
            </a>
        </li>
        <li>|</li>
        <li>
            <a href="https://www.shuidichou.com/" class="index-board-div1" target="_blank">
                水滴筹
            </a>
        </li>
        <li>|</li>
        <li>
            <a href="https://zc.suning.com/" class="index-board-div1" target="_blank">
                苏宁众筹
            </a>
        </li>
        <li>|</li>
        <li>
            <a href="http://www.zhongchouke.com/" target="_blank" class="index-board-div1">
                众筹客
            </a>
        </li>
        <li>|</li>
        <li>
            <a href="http://www.cucr.cn/" target="_blank" class="index-board-div1">
                创联凯尔
            </a>
        </li>
        <li>|</li>
        <li>
            <a href="http://www.cucrxt.com/static/index.html" target="_blank" class="index-board-div1">
                心跳科技
            </a>
        </li>
    </ul>
    <p>心跳互动 版权所有</p>
    <p>鄂ICP备18007150号</p>
</div>