<!-- 中间部分 -->
<div class="container projects">
    <dl class="fl projectsdl">
        <dt>状态：</dt>
        <dd onclick="raiseAll()" class="projectSelect">全部</dd>
        <dd onclick="raiseProcess()">众筹中</dd>
        <dd onclick="raiseSuccess()">众筹成功</dd>
        <dd onclick="raiseError()">众筹失败</dd>
        <dd onclick="raiseComplete()">已结束众筹</dd>
    </dl>
    <div class="fr searchin">
        <input class="searchInput" type="text" placeholder="请输入关键词">
        <span class="searchSpan" onclick="projectSearch(1)">搜索</span>
    </div>
</div>

<!-- 推荐项目 -->
<div class="index-board-list container">
    <div class="row rowPagesCon">

        <!-- <a href="projectInfo.html" class="index-board-item  col-xl-3" >
                    <div class="index-board-item-inner flwidth">
                        <div class="index-board-item-inner-left bgcenter" style="background-image:url(img/1.jpg)">
                            <p>众筹中</p>
                        </div>
                        <div class="index-board-item-inner-right flwidth">
                            <div class="index-board-div1">
                                <h2>项目1</h2>
                                <h3></h3>
                                <dl>
                                    <dd>
                                        <p>15%</p>
                                        <p>已达</p>
                                    </dd>
                                    <dd>
                                        <p>100元</p>
                                        <p>已筹</p>
                                    </dd>
                                    <dd>
                                        <p>10天</p>
                                        <p>剩余时间</p>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </a> -->

    </div>
    <!-- 分页 -->
    <div class="pagination tcdPageCode">

    </div>
    <div class="clear"></div>
</div>